@model Pabeda.Projem.MvcWebUI.Models.OgrenciListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>TC Kimlik No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ogrencis)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyisim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TCKimlikNo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OgrenciId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OgrenciId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OgrenciId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
